@font-face {
  font-family: 'roboto_condensed';
  src: url('/fonts/roboto-condensed.eot');
  src: url('/fonts/roboto-condensed.eot?#iefix') format('embedded-opentype'),
  url('/fonts/roboto-condensed.woff2') format('woff2'),
  url('/fonts/roboto-condensed.woff') format('woff'),
  url('/fonts/roboto-condensed.ttf') format('truetype'),
  url('/fonts/roboto-condensed.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensed';
  src: url('/fonts/roboto-boldcondensed.eot');
  src: url('/fonts/roboto-boldcondensed.eot?#iefix') format('embedded-opentype'),
  url('/fonts/roboto-boldcondensed.woff2') format('woff2'),
  url('/fonts/roboto-boldcondensed.woff') format('woff'),
  url('/fonts/roboto-boldcondensed.ttf') format('truetype'),
  url('/fonts/roboto-boldcondensed.svg#roboto_condensedbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensed';
  src: url('/fonts/roboto-condenseditalic.eot');
  src: url('/fonts/roboto-condenseditalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/roboto-condenseditalic.woff2') format('woff2'),
  url('/fonts/roboto-condenseditalic.woff') format('woff'),
  url('/fonts/roboto-condenseditalic.ttf') format('truetype'),
  url('/fonts/roboto-condenseditalic.svg#roboto_condenseditalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'roboto_condensed';
  src: url('/fonts/roboto-boldcondenseditalic.eot');
  src: url('/fonts/roboto-boldcondenseditalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/roboto-boldcondenseditalic.woff2') format('woff2'),
  url('/fonts/roboto-boldcondenseditalic.woff') format('woff'),
  url('/fonts/roboto-boldcondenseditalic.ttf') format('truetype'),
  url('/fonts/roboto-boldcondenseditalic.svg#roboto_condensedbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'roboto_condensed_light';
  src: url('/fonts/robotocondensed-light.eot');
  src: url('/fonts/robotocondensed-light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/robotocondensed-light.woff2') format('woff2'),
  url('/fonts/robotocondensed-light.woff') format('woff'),
  url('/fonts/robotocondensed-light.ttf') format('truetype'),
  url('/fonts/robotocondensed-light.svg#roboto_condensedlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensed_light';
  src: url('/fonts/robotocondensed-lightitalic.eot');
  src: url('/fonts/robotocondensed-lightitalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/robotocondensed-lightitalic.woff2') format('woff2'),
  url('/fonts/robotocondensed-lightitalic.woff') format('woff'),
  url('/fonts/robotocondensed-lightitalic.ttf') format('truetype'),
  url('/fonts/robotocondensed-lightitalic.svg#roboto_condensedlight_italic') format('svg');
  font-weight: normal;
  font-style: italic;
}