/* Fonts */
@fonts: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
@font_main: 	'roboto_condensed', @fonts;
@font_light: 	'roboto_condensed_light', @fonts;

@default_font_size: 24px;
@default_font_color: #ffff;

@import "/web/assets/less/spritesheet";

@import "fonts";
@import "reset";

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

html,
body,
button,
input,
select,
textarea {
  font: @default_font_size @font_main;
  color: @default_font_color;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  line-height: normal;
  padding: 0;
  margin: 0;
  background: #fff;
  min-width: 1010px;
}

.inner-page {
  min-height: 100vh;
  background: #7fc33f url("/images/bg.jpg");

  #head .send-button {
    color: #f11c26;
    background: #fff !important;;

    &:after {
      border-color: #fff rgba(255,255,255,0) !important;
    }
  }
}

#head {
  height: 113px;
  background: #fff;
  .clearfix;

  .wrap {
    min-width: 1150px;
    max-width: 1390px;
    margin: auto;
  }

  .logo {
    float: left;
    padding-top: 20px;
  }

  menu {
    float: right;
    padding-top: 75px;

    li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 15px;
      
      a {
        font-family: @font_light;
        font-size: 17px;
        color: #000000;
        text-decoration: none;

        &:hover {
          color: #ff0000;
        }

        &.active {
          font-family: @font_main;
          color: #81c541;
        }
      }
    }
  }

  .send-button {
    position: relative;
    float: right;
    display: block;
    width: 158px;
    height: 113px;
    background: #ff0000;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    padding: 35px 15px 0 15px;
    margin-left: 40px;

    &:hover {
      background: #81c541;
    }
    &:hover:after {
      border-color: #81c541 rgba(255,255,255,0);
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      z-index: 1;
      bottom: -20px;
      left: 0;
      border-style: solid;
      border-width: 20px 79px 0 79px;
      border-color: #ff0000 rgba(255,255,255,0);
    }
  }
}

#map {
  text-align: center;

  img {
    min-width: 1150px;
    max-width: 1920px;
    width: 100%;
    height: auto;
  }
}

#form {
  width: 442px;
  margin: 210px auto 0;

  text-align: center;
  font-family: @font_light;
  color: #fff;

  .message {
    padding: 0 50px 12px;
  }

  .field {
    padding: 10px 0;
  }

  input {
    width: 100%;
    text-align: center;
    height: 60px;
    box-sizing: border-box;
    border: 3px solid #fff;
    background: #fff;
    font-size: 30px;
    font-weight: normal;
    color: #000;

    &.error {
      border-color: #f11c26;
      background: #ffecf3;
    }

    &:focus {
      border-color: #000;
      background: #fff;
    }

    &::placeholder {
      color: #cacaca;
    }
  }

  button {
    text-align: center;
    box-sizing: border-box;
    width: 295px;
    height: 76px;
    padding: 0;
    background: #000;
    font-size: 30px;
    font-weight: normal;
    color: #fff;
    border: none;
    margin-top: 23px;

    &:active {
      background: #ff0000;
    }
  }
}

#complete {
  width: 375px;
  margin: 210px auto 0;
  text-align: center;
  font-family: @font_light;
  color: #fff;

  .message {
    padding-bottom: 30px;
  }
  
  .social {
    .text {
      padding-bottom: 55px;
    }

    a {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 100px;
      height: 100px;
      background: #fff;
      border-radius: 50%;
      margin: 0 30px;

      &:after {
        display: block;
        content: '';
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
      }

      &.vk:after {
        .sprite(@vk);
        margin: -@vk-height/2px 0 0 -@vk-width/2px;
      }

      &.fb:after {
        .sprite(@fb);
        margin: -@fb-height/2px 0 0 -@fb-width/2px;
      }

      &:hover {
        background: #000;

        &.vk:after {
          .sprite(@vk-hover);
          margin: -@vk-hover-height/2px 0 0 -@vk-hover-width/2px;
        }

        &.fb:after {
          .sprite(@fb-hover);
          margin: -@fb-hover-height/2px 0 0 -@fb-hover-width/2px;
        }
      }
    }
  }
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  background: fadeout(#fff, 25%);
  text-align: center;

  .wrap {
    position: relative;
    min-width: 1150px;
    max-width: 1390px;
    margin: auto;
  }

  .copyright {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
  }

  .social {
    .text {
      padding-bottom: 55px;
    }

    a {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 58px;
      height: 58px;
      background: #80c541;
      border-radius: 50%;
      margin: 0 18px;

      &:after {
        display: block;
        content: '';
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
      }

      &.vk:after {
        .sprite(@vk-small);
        margin: -@vk-small-height/2px 0 0 -@vk-small-width/2px;
      }

      &.fb:after {
        .sprite(@fb-small);
        margin: -@fb-small-height/2px 0 0 -@fb-small-width/2px;
      }
    }
  }
}

#content {
  padding-bottom: 80px;
}

.loupe {
  cursor: none;

  div {
    border-radius: 50%;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    top: -10px;
    left: -16px;
    width: 241px;
    height: 235px;
    background: url("/images/loupe.png") no-repeat center;
  }


  img {
    z-index: 1;
  }
}